.background-image {
    background-image: url(https://kintore.kieferyap.com/assets/img/shark.png);
    background-color: #FFF;
    height: 475px;
    width: 535px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    right: 0px;
    bottom: -20px;
    z-index: -1;
}

.kintore-content {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 0px 0px 10px 10px;
	padding: 20px;
	margin-top: 50px;
}

.border-red {
	border: 2px solid red;
}

.border-blue {
	border: 2px solid blue;
}

.navbar-purple {
	background-color: #532c66;
}

.navbar-inverse .navbar-right > li > a {
	color: #cc95e6;
}

.navbar-inverse .navbar-brand{
	color: #fff;
}

.navbar-inverse .navbar-brand:hover {
	color: #e3a8ff;
}

.btn-kintore {
	background-color: #532c66;
	color: white;
}

.btn-kintore:hover {
	background-color: #77478f;
	color: white;
}

.btn-kintore:focus, .btn-kintore:active {
	background-color: #9865b0 !important;
	color: white !important;
}

.new-entry {
	border: 1px solid #d5a8ea;
	border-radius: 10px;
	padding: 10px;
}

.input-div {
	padding-top: 5px;
	padding-bottom: 5px;
}

hr {
	border-top: 1px solid #aaa;
}

.border-bottom {
	border-bottom: 1px solid #ccc;
}

.btn-primary {
	background-color: #77478f;
	color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #9865b0 !important;
	color: white !important;
}

.margin-top {
	margin-top: 10px;
}

.exercise-input-div {
    height: 45px;
}

.table .cell-center {
	text-align: center;
}

#btn-post-submit {
	float: right;
}

.cursor-pointer {
	cursor: pointer;
}

.hover-gray:hover {
	background-color: #F5F5F5;
}

.flash-icon {
	background-color: black;
	color: white;
    float: left;
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: -15px;
    height: 50px;
    width: 30px;
    padding-top: 15px;
    padding-left: 8px;
}

.flash-success-icon {
	background-color: #67c569;
	cursor: pointer;
}
.flash-danger-icon {
	background-color: #882f2e;
	cursor: pointer;
}

.flash-message {
	padding-left: 10px;
}

.alert-success {
	border: 2px solid #67c569;
	background-color: #e9ffe9;
}

.alert-danger {
	border: 2px solid #882f2e;
	background-color: #f7ecec;
}

.table-hover > tbody > tr:hover {
	background-color: rgba(213, 195, 222, 0.2);
}